#bn , #spk{

  position:absolute;
  outline:none;
  left:503;
  top:1666;
  width:457px;
  height : 110px;
  border-radius:22px;


}

#t , #dcm{

  position : absolute;
  left : 165;
  top : 75;
  width : 660px;
  height : 50px;
  border-radius : 23px;
  border-width : thick;




}

#im{

  position : absolute;
  left : 300;
  top : 240;


}

#sub , #but1{

  position : absolute;
  outline:none;
  top : 1666;
  left : 23;
  width : 450px;
  height : 110px;
  border-radius:22px;
}

#reddkr, #sl,  #sb{

   position:absolute;
   top:1526;
   color:white;
   background-color:#0077be;
   left : 23;
   width : 936px;
   height : 110px;
   border-radius:22px;


}

#dkimage{
   
   position:absolute;
   left:330;
   top :240;
   width:330px;
   height:330px;



}


#images{ 

  position:absolute;
  top:708;
  left:470;
  width:337px;
  height:40px;
  



}

#ct{

  position:absolute;
  top:690;
  left:172;


}


#fn{

   position:absolute;
   top:740;
   left:172

}

#osn{

  position:absolute;
  top:758;
  left:470;
  width:337px;
  height:40px;
  border-width:thick;



}

#hdp{

   position:absolute;
   top:1480;
   color:white;
   background-color:#8a2be2;
   left : 23;
   width : 936px;
   height : 110px;
   border-radius:22px;
}
